body{
    background: #DAD5C1;
    font-family: "Halvetca","Arial";
}
p{
    text-decoration-color: snow;
}
#tab{
    background: #CBBB9B;
    padding: 1%;
    border-radius: 2%;

;
}
img{
    text-align: center;
    max-width: 100% ;
    width: auto;
}
.wrapper{
    margin: 0 auto;
    max-width: 980px;
    width: 96%;
    height: 360px;
    background: #CBBB9B;
    padding: 2%;
    border-radius: 2px;
}
.dan{
    width: 50%;
    height: 75%;
    background: #A09885;
    padding: 0;
    margin: 0;
    border-radius: 2px;
}
header{
    padding: 5px;
    text-align: center;
}
#nav{
    background:#000;
    padding: 0;
    margin: 0;
    border-radius: 10px;
}
nav ul{
    list-style: none;
    margin-left: 7%;
    padding: 0;
}
nav li a{
    color: #000;
    display: block;
    float: left;
    padding: 20px;
    text-decoration: none;
}
nav a:hover,nav li.active a{
    background-color: #322F2C;
    color: #fff;
}
.clear{
    clear: both;
}
.ui-content{
    background: #CBBB9B;
    padding: 1%;

    width: auto;

    margin-top: 1%;
    border-radius: 4px;
}
#navigation{
    text-align: left;
}
#navigation a{
    color:#333;
    text-decoration: none;
}
#container{
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
