

.ui-simpledialog-header h3 { margin-top: 5px; margin-bottom: 5px; text-align: center; padding-top:3px; padding-bottom:3px; }
.ui-simpledialog-container { border: 5px solid #111 !important; width:85%; max-width:500px;}
/*.ui-simpledialog-screen { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; }
.ui-simpledialog-hidden { display: none; }*/
.input-dialogue-back { 
		background-color: black; -moz-opacity: 0.4; opacity:0.4; filter: alpha(opacity=40);
		position: absolute; width: 100%; height: 100%; top:0px; left:0px; z-index: 499;
}


/* disable shadows for better android performance */
	.ui-body-a,
	.ui-bar-a,
	.ui-btn-up-a,
	.ui-btn-hover-a,
	.ui-btn-down-a,
	
	.ui-body-b,
	.ui-bar-b,
	.ui-btn-up-b,
	.ui-btn-hover-b,
	.ui-btn-down-b,
	
	.ui-body-c,
	.ui-bar-c,
	.ui-btn-up-c,
	.ui-btn-hover-c,
	.ui-btn-down-c,
	
	.ui-body-d,
	.ui-bar-d,
	.ui-btn-up-d,
	.ui-btn-hover-d,
	.ui-btn-down-d,
	
	.ui-body-e,
	.ui-bar-e,
	.ui-btn-up-e,
	.ui-btn-hover-e,
	.ui-btn-down-e,
	
	.ui-shadow-inset,
	.ui-icon-shadow,
	.ui-focus,
	.ui-overlay-shadow,
	.ui-shadow,
	.ui-btn-active,
	* {
		text-shadow: none !important;
		box-shadow: none !important;
		-moz-box-shadow: none !important;
		-webkit-box-shadow: none !important;
	}
